<div class="controls">
	<button type="button" class="control-button" data-action="open">
		Open Menu
	</button>
	<button type="button" class="control-button" data-action="close">
		Close Menu
	</button>
</div>
<aside class="frame" data-action="close">
	<nav class="container" part="container">
		<header class="content-title" part="content-title">
			<slot name="title" class="content-title-slot">Menu</slot>
			<button type="button" class="close" data-action="close">
				&#10006;
			</button>
		</header>
		<main class="content" part="content">
			<slot name="content" class="content-slot"></slot>
		</main>
	</nav>
</aside>
